$colors: (
  dark: (
    100: '240, 10%, 4%',
    200: '240, 7%, 14%',
    300: '240, 7%, 24%',
    400: '240, 7%, 34%',
    500: '240, 7%, 44%',
    600: '240, 7%, 54%',
    700: '240, 7%, 64%',
    800: '240, 11%, 74%',
  ),
  light: (
    100: '0, 0%, 36%',
    200: '0, 0%, 46%',
    300: '0, 0%, 56%',
    400: '0, 0%, 66%',
    500: '0, 0%, 76%',
    600: '0, 0%, 86%',
    700: '0, 0%, 91%',
    800: '0, 0%, 96%',
  ),
  accent: (
    100: '264, 100%, 34%',
    200: '264, 100%, 44%',
    300: '264, 100%, 54%',
    400: '264, 100%, 64%',
    500: '264, 100%, 71%',
    600: '264, 100%, 74%',
    700: '264, 100%, 84%',
    800: '265, 100%, 94%',
  ),
  special: (
    warning: '37, 89%, 67%',
    danger: '4, 89%, 67%',
    success: '107, 89%, 67%',
    info: '196, 89%, 67%',
  ),
);
