$colors: (
  dark: (
    100: hsl(240, 10%, 4%),
    200: hsl(240, 7%, 14%),
    300: hsl(240, 7%, 24%),
    400: hsl(240, 7%, 34%),
    500: hsl(240, 7%, 44%),
    600: hsl(240, 7%, 54%),
    700: hsl(240, 7%, 64%),
    800: hsl(240, 11%, 74%),
  ),
  light: (
    100: hsl(0, 0%, 36%),
    200: hsl(0, 0%, 46%),
    300: hsl(0, 0%, 56%),
    400: hsl(0, 0%, 66%),
    500: hsl(0, 0%, 76%),
    600: hsl(0, 0%, 86%),
    700: hsl(0, 0%, 91%),
    800: hsl(0, 0%, 96%),
  ),
  accent: (
    100: hsl(264, 100%, 34%),
    200: hsl(264, 100%, 44%),
    300: hsl(264, 100%, 54%),
    400: hsl(264, 100%, 64%),
    500: hsl(264, 100%, 71%),
    600: hsl(264, 100%, 74%),
    700: hsl(264, 100%, 84%),
    800: hsl(265, 100%, 94%),
  ),
  special: (
    warning: hsl(37, 89%, 67%),
    danger: hsl(4, 89%, 67%),
    success: hsl(107, 89%, 67%),
    info: hsl(196, 89%, 67%),
  ),
);
