$type-scale: (
  small: (
    // Minor third
    normal: 1rem,
    500: 1.125rem,
    400: 1.563rem,
    300: 1.953rem,
    200: 2.441rem,
    100: 3.052rem,
  ),
  big: (
    // Augmented fourth
    normal: 1rem,
    500: 1.25rem,
    400: 2rem,
    300: 2.827rem,
    200: 4rem,
    100: 5.653rem,
  ),
);
