

body {
  background-color: var(--clr-light-800);
  color: var(--clr-dark-100);

  .darkmode & {
    background-color: var(--clr-dark-100);
    color: var(--clr-light-700);
  }
}

::-moz-selection {
  color: var(--clr-dark-200);
  background-color: var(--clr-accent-700);
}

::selection {
  color: var(--clr-dark-200);
  background-color: var(--clr-accent-700);
}

// SCROLLBAR ----------------------------------

/* width */
::-webkit-scrollbar {
  width: calc(var(--base-size) * 1);
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--clr-light-600);
  border-radius: var(--border-width);

  .darkmode & {
    background: var(--clr-dark-400);
  }
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--clr-accent-500);
  border-radius: var(--border-width);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--clr-accent-600);
}