

body {
  background-color: hsla(var(--clr-light-800), 1);
  color: hsla(var(--clr-dark-100), 1);

  .darkmode & {
    background-color: hsla(var(--clr-dark-100), 1);
    color: hsla(var(--clr-light-700), 1);
  }
}

::-moz-selection {
  color: hsla(var(--clr-dark-200), 1);
  background-color: hsla(var(--clr-accent-700), 1);
}

::selection {
  color: hsla(var(--clr-dark-200), 1);
  background-color: hsla(var(--clr-accent-700), 1);
}

// SCROLLBAR ----------------------------------

/* width */
::-webkit-scrollbar {
  width: calc(var(--base-size) * 1);
  height: calc(var(--base-size) * 1);
}

/* Track */
::-webkit-scrollbar-track {
  background: hsla(var(--clr-light-600), 1);
  border-radius: var(--border-width);

  .darkmode & {
    background: hsla(var(--clr-dark-400), 1);
  }
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: hsla(var(--clr-accent-500), 1);
  border-radius: var(--border-width);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: hsla(var(--clr-accent-600), 1);
}