@use '../abstracts' as *;

:root {
  --section-spacing: 3.5rem;
  --wrapper-padding: 1rem;
  --max-width: 1300px;
  --border-width: 2px;
  --base-size: .5rem;

  @include mq(small) {
    --section-spacing: 10rem;
  }

  @each $color, $shade in $colors {
    @each $prop, $value in $shade {
      --clr-#{$color}-#{$prop}: #{$value};
    }
  }

  @each $screen-size, $property in $type-scale {
    @if $screen-size == small {
      @each $prop, $value in $property {
        --fs-#{$prop}: #{$value};
      }
    } @else {
      @include mq(small) {
        @each $prop, $value in $property {
          --fs-#{$prop}: #{$value};
        }
      }
    }
  }
}