@use '../layout/item.scss';

.alerts {
  display: grid;
  gap: var(--base-size);
  grid-area: alerts;
  max-width: calc(var(--base-size) * 100);
}

.alert {
  @extend .item;

  grid-template-columns: 1fr;
  position: relative;
  padding-right: calc(var(--base-size) * 4);
  color: hsla(var(--clr-dark-100), 1);

  &.danger {
    background-color: hsla(var(--clr-special-danger) ,1);
    border-color: hsla(var(--clr-special-danger) ,1);
  }

  &.warning {
    background-color: hsla(var(--clr-special-warning) ,1);
    border-color: hsla(var(--clr-special-warning) ,1);
  }

  &.success {
    background-color: hsla(var(--clr-special-success) ,1);
    border-color: hsla(var(--clr-special-success) ,1);
  }

  &.info {
    background-color: hsla(var(--clr-special-info) ,1);
    border-color: hsla(var(--clr-special-info) ,1);
  }

  & > .icon {
    position: absolute;
    right: var(--base-size);
    top: var(--base-size);
    opacity: 0.3;
    transition: opacity 150ms ease-in;

    &:hover {
      opacity: 1;
    }
  }
}