@use '../layout/item.scss';

.alerts {
  display: grid;
  // gap: var(--base-size);
  // max-width: calc(var(--base-size) * 100);

  & > .content {
    overflow-y: hidden;
    border-radius: var(--base-size);

    &:not(:last-child) {
      margin-bottom: var(--base-size);
    }
  }
}

.alert {
  @extend :where(.item);

  grid-template-columns: 1fr;
  font-weight: 500;
  position: relative;
  // padding-right: calc(var(--base-size) * 5);
  color: hsla(var(--clr-dark-100), 1);
  display: grid;
  gap: calc(var(--base-size) * 2);

  
  --clr-alert-bg: var(--clr-special-danger);
  --clr-alert-text: var(--clr-dark-100);

  &, .darkmode & {
    background-color: hsla(var(--clr-alert-bg), 1);
    border-color: hsla(var(--clr-alert-bg), 1);
    color: hsla(var(--clr-alert-text), 1);
  }

  &.danger {
    --clr-alert-bg: var(--clr-special-danger);
  }

  &.warning {
    --clr-alert-bg: var(--clr-special-warning);
  }

  &.success {
    --clr-alert-bg: var(--clr-special-success);
  }

  &.info {
    --clr-alert-bg: var(--clr-special-info);
  }

  & > header {
    display: grid;
    grid-template-columns: 1fr auto;
    width: 100%;

    & > .icon {
      opacity: 0.3;
      transition: opacity 150ms ease-in;

      &:hover {
        opacity: 1;
      }
    }
  }

  & .bold {
    font-weight: 900;
  }
}