@use '../abstracts/mixins.scss' as *;


.giveaway_title input {
  padding: 0;
  border: none;
  line-height: 1;
  max-width: none;
  border-radius: 0;
  width: 100%;

  &.wrong {
    border-bottom: var(--border-width) solid hsla(var(--clr-special-danger), 1);
    margin-bottom: calc(var(--border-width) * -1);
  }
}

.entries:where(.list) {
  align-self: start;
  display: grid;
  gap: calc(var(--base-size) * 2);
  // max-width: var(--max-width);

  & > ul {
    display: grid;
    align-content: flex-start;
    gap: var(--base-size);

    /*
    @include mq(medium) {
      height: 25.5rem;
    }*/
  }

  & > .total {
    font-weight: normal;
    text-align: right;
  }
  

  &.large {
    & > ul {
      overflow-y: scroll;
      padding-right: calc(var(--base-size) * 2);
      height: auto;
      max-height: min(calc(45px * 7 + var(--base-size) * 6), 75vh);
    }
  }
}