@use '../abstracts/mixins.scss' as *;
@use '../layout/item.scss';


.forms {
  display: grid;
  gap: calc(var(--base-size) * 2);
  align-items: flex-end;

  @include mq(medium) {
    // grid-template-columns: 1fr 1fr;
  }
}

form {
  display: grid;
  gap: calc(var(--base-size) * 2);
  // max-width: calc(var(--base-size) * 100);
  width: 100%;

  & .row {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--base-size);
    
    @include mq(small) {
      grid-template-columns: 2fr minmax(5rem, 1fr) minmax(5rem, 1fr);
    }
  }

  & .label-group {
    position: relative;

    &:focus, &:focus-within {
      & label {
        opacity: 0;
      }
    }

    & label {
      position: absolute;
      user-select: none;
      top: calc(var(--base-size) + .1em);
      // left: calc(var(--base-size) * 2 + .2em);
      left: calc(var(--base-size) * 2);
      pointer-events: none;
      transition: opacity 150ms ease-in;
      opacity: 1;

      &:not([data-value="false"]) {
          opacity: 0;
      }
    }
  }

  :where(input, textarea, .input) {
    @extend :where(.item);
    background-color: inherit;
    border-style: dashed;
    resize: vertical;
  }

  & .buttons {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: var(--base-size);
  }
}

:where(input, textarea, .input) {
  padding: var(--base-size) calc(var(--base-size) * 2);
  border: solid 2px hsla(var(--clr-light-700), 1);
  border-radius: 0.2rem;
  max-height: 12rem;

  &:focus,
  &:focus-within,
  &:active,
  :focus-visible {
    border: solid 2px hsla(var(--clr-accent-700), 1);
    outline: none;
  }
}
