:where(.header) {
  display: grid;
  align-content: left;
  justify-content: stretch;
  justify-items: flex-start;
  padding: 5rem 0;
  grid-template-columns: 1fr auto auto;
  gap: calc(var(--base-size) * 4);
  //position: fixed;
}
