@use '../abstracts/mixins.scss' as *;

:where(.main) {
  display: grid;
  gap: calc(var(--base-size) * 2);
  //align-self: stretch;

  & > .row {
    display: grid;
    gap: calc(var(--base-size) * 8);
  
    grid-template-columns: 1fr;
    grid-template-areas: "adder" "list";
    
    /*@include mq(medium) {
      grid-template-columns: 6fr 5fr;
      grid-template-areas: "list adder";
    }*/
    

    //long layout
    //max-width: calc(var(--base-size) * 70);
    
    
  }

  & > .main-grid {
    display: grid;
    gap: calc(var(--base-size) * 4);
    align-self: start;
    justify-items: stretch;
    align-items: flex-start;

    grid-template-columns: 1fr;
    grid-template-areas: "addOne" "addMultiple" "alerts" "list";

    @include mq(medium) {
      grid-template-columns: 6fr 5fr;
      grid-template-areas: "addOne alerts" "addMultiple alerts" "list alerts";
    }
  }
}